
    <%= render 'shared/dashboard_form' %>

<% if @dashboards.count > 0 %>
 <h3>Current dashboards</h3>
<% end %>

<% @dashboards.each do |dashboard| %>
  <h2>
    <%= link_to dashboard.name, dashboard %>
  </h2>

   <%= link_to "delete #{dashboard.name}", dashboard,   :method => :delete,
                                                        :confirm => "You sure?" %>

<% end %>

<script type="text/javascript">
  $.backstretch("http://24.media.tumblr.com/tumblr_ltwpq6DxIv1qiz784o1_1280.jpg");
</script>
