<div class="center hero-unit">
  <h1>Welcome to KheraHQ</h1>

  <h2>
    This is the home page for the
    <a href="http://kherahq.com/">KheraHQ</a>
    sample application.
  </h2>

  <img src="http://www.websharedesign.com/files/google-analytics-dashboard.jpg" />

</div>

