<h1>
  <%= @group.group_name %> 
</h1>


        <%= render 'shared/user_form' %>

<hr>

<h3>Current group members</h3>
<% @users.each do |user| %>
   <li>
     <%= link_to user.name, user %>
     <%if user.admin? && user.name!=current_user.name %>
            <%= link_to "delete", user,   :method => :delete,
                                          :confirm => "You sure?",
                                          :title => user.name %>
     <% end%>
   </li>
<% end %>