<% provide(:title, @user.name) %>

<% if current_user=='mandeep3'%>
  <%= @user.name %>,<%= @user.admin %>
<% end %> 

        <%= render 'shared/project_form' %>


<hr><br/>

<h1>Your current projects</h1>
<% unless @user.projects.empty? %>
        <%= render @projects %>
<% end %>